<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.sb.beans.Address" id="adres1">
    <property name="houseNo" value="32"></property>
    <property name="landmark" value="Vikas Marg"></property>
    <property name="city" value="Delhi"></property>
    </bean>
    
      <bean class="in.sb.beans.Student" id="std1">
    <property name="name" value="Prince Tiwari"></property>
    <property name="rollno" value="21"></property>
    <property name="address" ref="adres1"></property>
    </bean>
</beans>